title {
    text-align: center;
    color: blue;
}
h1 {
    text-align: center;
    color: rgb(5, 150, 5);
}
body {
    background-image: url("C:\Users\93024\OneDrive\Pictures\maxresdefault.jpg");
    background-size: cover;

}